{% extends 'base.html' %}

{% block style %}
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@700;900&display=swap" rel="stylesheet"><link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@900&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@1,300&display=swap" rel="stylesheet">
<link lang='sass' href="{{ url_for('static', filename='css/profile.css') }}" rel="stylesheet">
<script src="https://unpkg.com/scrollreveal"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
{% endblock %}

{% block head %}
<title>Register</title>
{% endblock %}

{% block body %}
<div class="container header-container">
    <a href="/"><button type="button" class="btn btn-outline-dark mb-5">Go back</button></a>
    <div class="row justify-content-center">
        <div class="col-6">
            <div class="row">
                <div class="row">
                    <span class="greetings-title">Register</span>
                </div>
                <div class="row">
                    <div class="col-1 breaker">
                    </div>
                </div>
            </div>
            <div class="row justify-content-center mt-5">
                <div class="col-8">
                    <div class="card shadow">
                        <div class="card-body">
                            <form class="p-4" method="POST">
                                <div class="form-group">
                                  <input type="text" name="username" class="form-control" placeholder="Username" required>
                                </div>
                                <div class="form-group my-3">
                                  <input type="password" name="password" class="form-control" placeholder="Password" required>
                                </div>
                                <label class="text-small text-muted fw-light">Already registered? <a href="/login" class="text-reset">Login</a></label> <br>
                                <div class="d-grid gap-2 mt-3">
                                    <button type="submit" class="btn btn-outline-success">Register</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 
{% block scripts %}
{% endblock %}